@import "./bootstrap/scss/bootstrap.scss";

:root {
	font-family: 'Courier New', Courier, monospace;
}

.navbar-nav {
	.active {
		color: $primary !important;
	}
}

section {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin: 5px;
	background-color: rgba($color: $primary, $alpha: 0.15);
	border-radius: 10px;
}